rtl/builddate.v
rtl/obj_dir/

isim/
_xmsgs/
iseconfig/
tmp/
xst/
_ngo/
top_*

*.map
*.obj
*.rom
*.sym
*.mif
*.mcs
*.cfi
*.hex
*.prm
*.ipf
*.xsl
*.xwbt
*.cgp
*.log
*.tcl
*.bgn
*.bit
*.bld
*.cmd_log
*.drc
*.lso
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.ncd
*.twx
*.xpi
*.xml
*.ref
*.bin
*.ut
*.xst
*.html
*.xbcd